@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e2125;
    color: #e9dfce;
}

/* Plane Text */
@font-face {
    font-family: 'PlaneLight';
    src: url('./fonts/PlaneLight.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlaneBold';
    src: url('./fonts/PlaneBold.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlaneItalic';
    src: url('./fonts/PlaneItalic.woff2');
    font-weight: normal;
    font-style: normal;
}

/* Cursive Text */
@font-face {
    font-family: 'GrandSlangBold';
    src: url('./fonts/GrandSlang-Bold.woff ');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GrandSlangItalic';
    src: url('./fonts/GrandSlang-Italic.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GrandSlangRoman';
    src: url('./fonts/GrandSlang-Roman.woff');
    font-weight: normal;
    font-style: normal;
}

/* Migra Text */

@font-face {
    font-family: 'MigraLight';
    src: url('./fonts/Migra-Extralight.woff');
    font-weight: normal;
    font-style: normal;
}
