@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body{
    background-color: #1e2125;
    color: #e9dfce;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Plane Text */
@font-face {
    font-family: 'PlaneLight';
    src: url('./assets/fonts/PlaneLight.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PlaneBold';
    src: url('./assets/fonts/PlaneBold.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PlaneItalic';
    src: url('./assets/fonts/PlaneItalic.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Cursive Text */
@font-face {
    font-family: 'GrandSlangBold';
    src: url('./assets/fonts/GrandSlang-Bold.woff ');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GrandSlangItalic';
    src: url('./assets/fonts/GrandSlang-Italic.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GrandSlangRoman';
    src: url('./assets/fonts/GrandSlang-Roman.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Migra Text */
@font-face {
    font-family: 'MigraLightItalic';
    src: url('./assets/fonts/Migra-ExtralightItalic.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MigraBold';
    src: url('./assets/fonts/Migra-ExtraboldItalic.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MigraLight';
    src: url('./assets/fonts/Migra-Extralight.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Customized Scrollbar */

/* width */ 
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #15181b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d2b99f;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c27c45;
}

